# debug

Execute Project host with Aspire - this open db, api, and web project with Host.
cd SchoolManagement/SchoolManagement.AppHost
dotnet run --launch-profile https

whenever code changes, it does not update program, you need to quit and run again.
you can kill process for 'dcp' and 'dotnet'

Web Frontend can access following url:
https://localhost:7201

When cline open up browser, use high resolution like Full HD.

# document
How to use Event Sourcing with Sekiban will be in the document below
./Sekiban.Instruction.md

